<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Index</title>


  <!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->
  <script src="src/vendor/ace.js"></script>
  <script src="src/vendor/angular.js"></script>
  <script src="src/vendor/ui-ace.js"></script>
  <script src="src/vendor/angular-animate.js"></script>
  <script src="src/vendor/tether.js"></script>
  <script src="src/angular-tether.js"></script>
  <script src="src/angular-tether-tooltip.js"></script>
  <script src="src/angular-tether-popover.js"></script>

  <script src="appctrl.js"></script>

  <link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-app="app"
      class="Flexbox Flexbox__direction-rows Flexbox__box-align-center Flexbox__just-center">

<script type="text/ng-template" id="intro.html">
  <div class="text-center">
    <div class="fs1 text-light">Angular Tether</div>
    <div class="fs5 text-light">A set of extensible <a href="http://tether.io" config="" tether-tooltip="&quot;A client-side library to make absolutely positioned elements attach to elements in the page efficiently.&quot;"
        >Tethers</a> with using <a href="http://www.sanger.dk/" rel="nofollow"></a>Angular</div>
  </div>
</script>

<script type="text/ng-template" id="popover.html">
  <div class="Spacebox__small fade-anim angular-tether-arrow block-light-bordered">
    <div> positionsssss
      <div><input ng-model="myPopover.config.attachment" type="text"/></div>
      <div>
        <button ng-click="myPopover.enter({content: 'ddd'})"
                ng-disabled="myPopover.isActive()">enter
        </button>
        <button ng-click="myPopover.leave()" ng-disabled="!myPopover.isActive()">leave</button>
      </div>
    </div>
  </div>
</script>


<div ng-controller="appCtrl">

  <div class="main-intro" id="intro"></div>



  <div class="Spacebox__lr-regular Spacebox__tb-medium">
      <div class="fs3">Popover</div>

      <div class="Flexbox">
          <div class="Spacebox__r-medium Spacebox__tb-medium" ng-include="getTemplate()">
<script type="text/ng-template" id="popoverDemo.html">
<div style="padding: 70px; background-color: #F0F0F0; display: inline-block;"
   tether-popover="myPopover"
   config="popoverConfig">

  <div>
      position
      <div class="Spacebox__tb-small">
          <input class="field"
                 ng-model="myPopover.config.targetAttachment" type="text"/>
      </div>
      <div>
          <button class="btn-ghost" ng-click="myPopover.enter({content: 'ddd'})"
                  ng-disabled="myPopover.isActive()">enter
          </button>
          <button class="btn-ghost" ng-click="myPopover.leave()"
                  ng-disabled="!myPopover.isActive()">
              leave
          </button>
      </div>
  </div>
</div>
</script>
          </div>

          <div class="Spacebox__l-medium Spacebox__tb-medium" style="border-left: 1px solid #E4E4E4;">
              <div ui-ace="editorConfig" style="width: 500px; height: 500px"></div>
          </div>
      </div>
  </div>


  <div>
    <h2>Tooltip</h2>

    <a href="#" tether-tooltip="10 dollah too buku">Me love you long time</a>
  </div>

</div>


<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>
<div><h1>Scroll</h1></div>


<div class="main-intro" id="footer"></div>


</body>
</html>
