// BUTTON STYLES
// ____________-


// Buttons
// ________________________-
$btnBackground: $cyan !default;
$btnBackgroundHighlight: darken(#ffffff, 10%) !default;
$btnBorder: #ccc !default;

$btnPrimaryBackground: $linkColor !default;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 15%) !default;

$btnInfoBackground: #5bc0de !default;
$btnInfoBackgroundHighlight: #2f96b4 !default;

$btnInverseBackground: $gray !default;
$btnInverseBackgroundHighlight: $gray !default;

// Core

.Btn {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	font-family: inherit;
	cursor: pointer;
	border: none;
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 2;
	padding-right: 1em;
	padding-left: 1em;
	background-color: transparent;

	// optional styles
	text-shadow: 0 1px 5px rgba(255, 255, 255, 0.1);
	@include border-radius(2px);
	@include transition(background-color .1s linear);
}

// Btn states
.Btn{
	&:hover {
		text-decoration: none;
	}

	&:active,
	&:focus {
		outline: 0;
	}
}


// Disabled state
.Btn[disabled] {
	cursor: default;
	opacity: 0.5;
	//@include opacity(0.5);
}




// Button sizes
// __________________________________________________

.Btn__tiny {
    padding-right:0.7em;
    padding-left: 0.7em;
    line-height:1.1;
}

.Btn__small {
    padding-right:0.7em;
    padding-left: 0.7em;
    line-height:1.5;
}

.Btn__large {
    padding-right:2.2em;
    padding-left: 2.2em;
    line-height:3;
}

.Btn__huge {
    padding-right:2em;
    padding-left: 2em;
    line-height:5;
}

/**
 * These buttons will fill the entirety of their container.
 *
 * 1. Remove padding so that widths and paddings don�t conflict.
 */
.Btn__stretch {
    width:100%;
    padding-right:0;
    padding-left: 0;
    text-align:center;
}

.Btn__custom {
	background-color:#7890B4;
	color: #FFF;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.2);

  &:hover {
	color:#fff;
    background-color: #7890B4;
  }
}


// Button function modifiers.

.Btn__primary{}
.Btn__secondary{}
.Btn__tertiary{}

//Positive actions; e.g. sign in, purchase, submit, etc.
.Btn__action {
    background-color: $cyan;
    color:#fff;
	&:hover, &:focus, &[disabled] {
		color: #FFF;
		background-color: lighten($cyan, 10%);
	}
}
.Btn__oarange {
    background-color: $gold;
    color:#fff;
	&:hover, &:focus {
		color: #FFF;
		background-color: lighten($gold, 10%);
	}
}
.Btn__white {
    background-color: $white;
    color: $gray;
	border: 1px solid $grayLight;
	&:hover, &:focus {
		border-color: darken($grayLight, 10%);
	}
}
.Btn__grayLight {
    background-color: $grayLight;
    color:$gray;
	&:hover, &:focus, &.active, &.active:hover, &[disabled] {
		color: $white;
		background-color: lighten($cyan, 10%);
	}
}
.Btn__danger {
    background-color: #da090c;
    color:#fff;
	border-width: 1px;
	&:hover, &:focus, &.active {
		color: #FFF;
		background-color: #ae090c;
	}
}

// Negative actions; e.g. close account, delete photo, remove friend, etc.
.Btn__negetive {
    background-color: #7d7d7d;
    color:#fff;
}
