/*
	==== Strings Dev-draft =======================================
	     Author: Nissan Hanina
	==============================================================
*/

// IE compatibility
// ----------------
$ie8: true;
$ie9: true;

// Site direction
// -----------------
$htmlDirection: ltr !default;


@import "strings/core/mixins";
@import "strings/generic/flexbox";
@import "strings/generic/layout";

@include spaceBox("tiny", "5px");
@include spaceBox("small", "10px");
@include spaceBox("regular", "20px");
@include spaceBox("medium", "30px");
@include spaceBox("large", "50px");



.fade-anim {
  &.ng-enter, &.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity:0;
  }
  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity:1;
  }
}





