/*
	==== Strings Dev-draft =======================================
	     Author: Nissan Hanina
	==============================================================
*/

// Site direction
// -----------------
$htmlDirection: ltr !default;

// Scaffolding
// -------------------------
$bodyBackground: #2db4ba !default;

// IE compatibility
// ----------------
$ie8: true;
$ie9: true;

// Site direction
// -----------------
$htmlDirection: ltr !default;


$baseFontSize: 16px;


@import "strings/defaults";


@include spaceBox("tiny", "5px");
@include spaceBox("small", "10px");
@include spaceBox("regular", "20px");
@include spaceBox("medium", "30px");
@include spaceBox("large", "50px");


@include btn('btn-ghost') {
  color: #888888;
  background-color: #DCDCDC;
  box-shadow: 0px -1px 0 0 rgba(255, 255, 255, 0.5),
              0px -1px 0 0 rgba(0, 0, 0, 0.1) inset;


  @include border-radius(9px);
  -webkit-backface-visibility: hidden;
  @include transition(
          background-color .3s ease,
          border .3s ease
  );
  .icon__arrow-bottom {
    position: relative;
    left: 7px;
    top: 1px;
    font-size: 16px;
  }
  &:hover, &:focus {
  }
  &.active {
    background-color: #d1d1d1;
  }
}

@include field('field', 28px) {
  border: 1px solid #8da5ae;
  background-color: transparent;
  color: #262626;
  @include border-radius(4px);
  @include transition(border-color .3s ease);
  &:focus {
    border-color: #b2d0d9;
  }
}



.main-intro {
  min-height: 100%;
}

.fade-anim {
  &.ng-enter, &.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  }

  &.ng-enter, &.ng-leave.ng-leave-active {
    opacity:0;
  }
  &.ng-leave, &.ng-enter.ng-enter-active {
    opacity:1;
  }
}



.flipInFade {
  @include transition(all .15s ease);
  @include transform-origin(50% 0);
  @include transform(perspective(300) rotateX(-25deg));
  opacity: 0;
  visibility: hidden;
  &.active {
    @include transform(perspective(300) rotateX(0deg));
    opacity: 1;
    visibility: visible;
  }
}

.tooltip {
  max-width: 325px;
  background-color: #f8f8f8;
  padding: 15px;
  border: 1px solid #dfdfdf;
}


.angular-tether-arrow {
  &.tether-element-attached-top.tether-element-attached-center.tether-target-attached-bottom.tether-target-attached-center, {
    @include arrow('bottom', #f8f8f8, $border-color: #dfdfdf, $width: 7px, $isCenter: true);
  }
  &.tether-element-attached-right.tether-element-attached-middle.tether-target-attached-left.tether-target-attached-middle, {
    @include arrow('right', #f8f8f8, $border-color: #dfdfdf, $width: 7px, $isCenter: true);
  }
  &.tether-element-attached-center.tether-element-attached-top.tether-target-attached-center.tether-target-attached-bottom {
    @include arrow('top', #f8f8f8, $border-color: #dfdfdf, $width: 7px, $isCenter: true);
  }
}
