/*
	==== Strings Dev-draft =======================================
	     Author: Nissan Hanina
	==============================================================
*/
.Flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .Flexbox .Flexbox__flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .Flexbox .Flexbox__flex-2 {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    -moz-box-flex: 2;
    -moz-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  .Flexbox .Flexbox__flex-3 {
    -webkit-box-flex: 3;
    -webkit-flex: 3;
    -moz-box-flex: 3;
    -moz-flex: 3;
    -ms-flex: 3;
    flex: 3; }
  .Flexbox .Flexbox__flex-4 {
    -webkit-box-flex: 4;
    -webkit-flex: 4;
    -moz-box-flex: 4;
    -moz-flex: 4;
    -ms-flex: 4;
    flex: 4; }
  .Flexbox .Flexbox__flex-5 {
    -webkit-box-flex: 5;
    -webkit-flex: 5;
    -moz-box-flex: 5;
    -moz-flex: 5;
    -ms-flex: 5;
    flex: 5; }
  .Flexbox .Flexbox__flex-6 {
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    -moz-box-flex: 6;
    -moz-flex: 6;
    -ms-flex: 6;
    flex: 6; }
  .Flexbox .Flexbox__flex-7 {
    -webkit-box-flex: 7;
    -webkit-flex: 7;
    -moz-box-flex: 7;
    -moz-flex: 7;
    -ms-flex: 7;
    flex: 7; }
  .Flexbox .Flexbox__flex-8 {
    -webkit-box-flex: 8;
    -webkit-flex: 8;
    -moz-box-flex: 8;
    -moz-flex: 8;
    -ms-flex: 8;
    flex: 8; }
  .Flexbox .Flexbox__flex-9 {
    -webkit-box-flex: 9;
    -webkit-flex: 9;
    -moz-box-flex: 9;
    -moz-flex: 9;
    -ms-flex: 9;
    flex: 9; }
  .Flexbox .Flexbox__flex-10 {
    -webkit-box-flex: 10;
    -webkit-flex: 10;
    -moz-box-flex: 10;
    -moz-flex: 10;
    -ms-flex: 10;
    flex: 10; }
  .Flexbox .Flexbox__flex-11 {
    -webkit-box-flex: 11;
    -webkit-flex: 11;
    -moz-box-flex: 11;
    -moz-flex: 11;
    -ms-flex: 11;
    flex: 11; }
  .Flexbox .Flexbox__flex-12 {
    -webkit-box-flex: 12;
    -webkit-flex: 12;
    -moz-box-flex: 12;
    -moz-flex: 12;
    -ms-flex: 12;
    flex: 12; }

.Flexbox__inline {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.Flexbox__direction-rows {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.Flexbox__box-direction-row-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column-reverse;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

.Flexbox__box-direction-column-reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.flex-wrap-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.Flexbox__align-self-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.Flexbox__align-self-end {
  -webkit-align-self: flex-end;
  -moz-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.Flexbox__just-space-around {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.Flexbox__just-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center; }

.Flexbox__just-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }

.Flexbox__box-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }

.Flexbox__box-align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.Flexbox__box-align-stretch {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch; }

.Spacebox__flat {
  padding: 0 !important; }

.Spacebox__flat-l {
  padding-left: 0 !important; }

.Spacebox__flat-r {
  padding-right: 0 !important; }

.Spacebox__flat-t {
  padding-top: 0 !important; }

.Spacebox__flat-b {
  padding-bottom: 0 !important; }

.Grid {
  list-style: none; }
  .Grid:before, .Grid:after {
    display: table;
    content: "";
    line-height: 0; }
  .Grid:after {
    clear: both; }

@media (min-width: 992px) {
  .Grid__que1 {
    width: 8.33333%; }
  .Grid__que2 {
    width: 16.66667%; }
  .Grid__que3 {
    width: 25%; }
  .Grid__que4 {
    width: 33.33333%; }
  .Grid__que5 {
    width: 41.66667%; }
  .Grid__que6 {
    width: 50%; }
  .Grid__que7 {
    width: 58.33333%; }
  .Grid__que8 {
    width: 66.66667%; }
  .Grid__que9 {
    width: 75%; }
  .Grid__que10 {
    width: 83.33333%; }
  .Grid__que11 {
    width: 91.66667%; }
  .Grid__que12 {
    width: 100%; }
  [class*="Grid__que"] {
    float: left; } }

.Flex:before, .Flex:after {
  display: table;
  content: "";
  line-height: 0; }
.Flex:after {
  clear: both; }

.Flex__inline {
  float: left; }

.Flex__rev {
  float: right; }

.Flex__fluid {
  display: table-cell;
  width: 1%; }

.Flex__stretch {
  width: 100%;
  display: table-cell; }

.flex__vertical {
  display: table;
  border-collapse: collapse;
  width: 100%;
  height: 100%; }

.flex__vertical-row {
  display: table-row; }

.flex__vertical-row-stretch {
  display: table-cell;
  width: 100%;
  height: 100%; }

.flex__vertical-row-fluid {
  display: table-cell;
  width: 100%;
  height: 0; }

.Flex__preOffset1 .Flex__inline {
  width: 8.33333%; }

.Flex__preOffset2 .Flex__inline {
  width: 16.66667%; }

.Flex__preOffset3 .Flex__inline {
  width: 25%; }

.Flex__preOffset4 .Flex__inline {
  width: 33.33333%; }

.Flex__preOffset5 .Flex__inline {
  width: 41.66667%; }

.Flex__preOffset6 .Flex__inline {
  width: 50%; }

.Flex__preOffset7 .Flex__inline {
  width: 58.33333%; }

.Flex__preOffset8 .Flex__inline {
  width: 66.66667%; }

.Flex__preOffset9 .Flex__inline {
  width: 75%; }

.Flex__preOffset10 .Flex__inline {
  width: 83.33333%; }

.Flex__preOffset11 .Flex__inline {
  width: 91.66667%; }

.Flex__preOffset12 .Flex__inline {
  width: 100%; }

.Ghost:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }
.Ghost .Ghost__child-middle {
  vertical-align: middle;
  display: inline-block; }
.Ghost .Ghost__child-bottom {
  vertical-align: bottom;
  display: inline-block; }

.Spacebox__t-tiny, .Spacebox__verti-tiny {
  padding-top: 5px; }

.Spacebox__b-tiny {
  padding-bottom: 5px; }

.Spacebox__tb-tiny {
  padding-top: 5px;
  padding-bottom: 5px; }

.Spacebox__l-tiny {
  padding-left: 5px; }

.Spacebox__r-tiny {
  padding-right: 5px; }

.Spacebox__lr-tiny {
  padding-right: 5px;
  padding-left: 5px; }

.Spacebox__tiny {
  padding: 5px; }


.Spacebox__inner-horiz-tiny {
  margin-left: -5px; }
  .Spacebox__inner-horiz-tiny > * {
    padding-left: 5px; }

.Spacebox__t-small, .Spacebox__verti-small {
  padding-top: 10px; }

.Spacebox__b-small {
  padding-bottom: 10px; }

.Spacebox__tb-small {
  padding-top: 10px;
  padding-bottom: 10px; }

.Spacebox__l-small {
  padding-left: 10px; }

.Spacebox__r-small {
  padding-right: 10px; }

.Spacebox__lr-small {
  padding-right: 10px;
  padding-left: 10px; }

.Spacebox__small {
  padding: 10px; }


.Spacebox__inner-horiz-small {
  margin-left: -10px; }
  .Spacebox__inner-horiz-small > * {
    padding-left: 10px; }

.Spacebox__t-regular, .Spacebox__verti-regular {
  padding-top: 20px; }

.Spacebox__b-regular {
  padding-bottom: 20px; }

.Spacebox__tb-regular {
  padding-top: 20px;
  padding-bottom: 20px; }

.Spacebox__l-regular {
  padding-left: 20px; }

.Spacebox__r-regular {
  padding-right: 20px; }

.Spacebox__lr-regular {
  padding-right: 20px;
  padding-left: 20px; }

.Spacebox__regular {
  padding: 20px; }


.Spacebox__inner-horiz-regular {
  margin-left: -20px; }
  .Spacebox__inner-horiz-regular > * {
    padding-left: 20px; }

.Spacebox__t-medium, .Spacebox__verti-medium {
  padding-top: 30px; }

.Spacebox__b-medium {
  padding-bottom: 30px; }

.Spacebox__tb-medium {
  padding-top: 30px;
  padding-bottom: 30px; }

.Spacebox__l-medium {
  padding-left: 30px; }

.Spacebox__r-medium {
  padding-right: 30px; }

.Spacebox__lr-medium {
  padding-right: 30px;
  padding-left: 30px; }

.Spacebox__medium {
  padding: 30px; }


.Spacebox__inner-horiz-medium {
  margin-left: -30px; }
  .Spacebox__inner-horiz-medium > * {
    padding-left: 30px; }

.Spacebox__t-large, .Spacebox__verti-large {
  padding-top: 50px; }

.Spacebox__b-large {
  padding-bottom: 50px; }

.Spacebox__tb-large {
  padding-top: 50px;
  padding-bottom: 50px; }

.Spacebox__l-large {
  padding-left: 50px; }

.Spacebox__r-large {
  padding-right: 50px; }

.Spacebox__lr-large {
  padding-right: 50px;
  padding-left: 50px; }

.Spacebox__large {
  padding: 50px; }


.Spacebox__inner-horiz-large {
  margin-left: -50px; }
  .Spacebox__inner-horiz-large > * {
    padding-left: 50px; }

.fade-anim.ng-enter, .fade-anim.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
.fade-anim.ng-enter, .fade-anim.ng-leave.ng-leave-active {
  opacity: 0; }
.fade-anim.ng-leave, .fade-anim.ng-enter.ng-enter-active {
  opacity: 1; }

.fade-anim.ng-enter, .fade-anim.ng-leave {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0; }
.fade-anim.ng-enter, .fade-anim.ng-leave.ng-leave-active {
  -webkit-transform: perspective(300) rotateX(-25deg);
  -moz-transform: perspective(300) rotateX(-25deg);
  -o-transform: perspective(300) rotateX(-25deg);
  transform: perspective(300) rotateX(-25deg);
  opacity: 0;
  visibility: hidden; }
.fade-anim.ng-leave, .fade-anim.ng-enter.ng-enter-active {
  -webkit-transform: perspective(300) rotateX(0deg);
  -moz-transform: perspective(300) rotateX(0deg);
  -o-transform: perspective(300) rotateX(0deg);
  transform: perspective(300) rotateX(0deg);
  opacity: 1;
  visibility: visible; }

.flipInFade {
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: perspective(300) rotateX(-25deg);
  -moz-transform: perspective(300) rotateX(-25deg);
  -o-transform: perspective(300) rotateX(-25deg);
  transform: perspective(300) rotateX(-25deg);
  opacity: 0;
  visibility: hidden; }
  .flipInFade.active {
    -webkit-transform: perspective(300) rotateX(0deg);
    -moz-transform: perspective(300) rotateX(0deg);
    -o-transform: perspective(300) rotateX(0deg);
    transform: perspective(300) rotateX(0deg);
    opacity: 1;
    visibility: visible; }
