<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>Index</title>


  <!--<script src="../bower_components/jquery/dist/jquery.js"></script>-->

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/tether/tether.js"></script>
  <script src="../src/angular-tether.js"></script>
  <script src="../src/angular-tether-tooltip.js"></script>
  <script src="../src/angular-tether-popover.js"></script>

  <script src="appctrl.js"></script>

  <link rel="stylesheet" href="styles/main.css"/>
</head>
<body ng-app="app" class="Flexbox Flexbox__direction-rows Flexbox__box-align-center Flexbox__just-center">

<script type="text/ng-template" id="popover.html">
  <div class="Spacebox__small fade-anim" style="background-color: #daf3ff">
    <div> position
      <div><input ng-model="tetherPopover.config.attachment" type="text"/></div>
      <div>
        <button ng-click="tetherPopover.enter({content: 'ddd'})"
                ng-disabled="tetherPopover.isActive()">enter
        </button>
        <button ng-click="tetherPopover.leave()" ng-disabled="!tetherPopover.isActive()">leave
        </button>
      </div>
    </div>
  </div>
</script>


  <div ng-controller="appCtrl" >

    <div>
      <h2>Popover</h2>

      <div style="padding: 70px; background-color: #ceffee; display: inline-block;"
           tether-popover="sharedLocalsWithCtrlPopover"
           popover-config="{template: 'popover.html'}">

        <div>
          position
          <div>
            <input ng-model="sharedLocalsWithCtrlPopover.config.targetAttachment" type="text"/>
          </div>
          <div>
            <button ng-click="sharedLocalsWithCtrlPopover.enter({content: 'ddd'})"
                    ng-disabled="sharedLocalsWithCtrlPopover.isActive()">enter
            </button>
            <button ng-click="sharedLocalsWithCtrlPopover.leave()"
                    ng-disabled="!sharedLocalsWithCtrlPopover.isActive()">
              leave
            </button>
          </div>
        </div>

      </div>
    </div>


    <div>
      <h2>Tooltip</h2>

      <a href="#" tether-tooltip="10 dollah too buku">Me love you long time</a>
    </div>



  </div>
</body>
</html>
