// Forms
// -------------------------


// input
$fieldBackground: $white !default;
$fieldTextColor: #5d5d5d !default;
$fieldHeight: 28px !default;
$borderColor: $grayLight !default;
$borderFocusColor: $cyan !default;
$inputLineHeight: 18px !default;
$inputBorderWidth: 1px  !default;

@mixin setFieldHeight($height){
	$paddingVert: ($height - $inputLineHeight) / 2;
	line-height: $inputLineHeight - ($inputBorderWidth * 2);
	height: $height;
	padding-top: $paddingVert;
	padding-bottom: $paddingVert;
}

.Form__field {
	display: inline-block;
	color: $fieldTextColor;
	background-color: $fieldBackground;
	border: 1px solid $grayLight;
	vertical-align: middle;
	padding-left: 6px;
	padding-right: 6px;
	width: 100%;

	@include setFieldHeight(24px);

	@include transition(border-color .3s ease);

	&:focus {
		border-color: $cyan;
		color: darken($fieldTextColor, 10%);
		outline: 0;
	}
}

.Form__field-small {
	padding-left: 3px;
	padding-right: 3px;
	@include setFieldHeight(22px);
}

.Form__field-large {
	padding-left: 6px;
	padding-right: 6px;
	@include setFieldHeight(34px);
}




// Focus for select, file, radio, and checkbox
select:focus,
input[type="file"]:focus,
input[type="checkbox"]:focus {
	@include tab-focus();
}

// Uneditable fields
// -------------------------

// Make uneditable fields look inactive
[readonly] {
	color: $grayLight;
	background-color: darken($fieldBackground, 1%);
	@include box-shadow(inset 0 1px 2px rgba(0, 0, 0, .025));
	cursor: not-allowed;
}


[contenteditable] {
	display: block;
}

// General form class
.Form { }

// Validation erro
.Form__field-error, .ng-invalid.ng-dirty {
	border-color: #d7410b !important;
	&:focus {
		border-color: darken(#d7410b, 10%);
	}
}

.Form__error-msg {
	font-size: 11px;
	color: #d7410b;
}

.Form__control {
	input[type="search"] {
		&.custom-search {
			background: none;
			border: none;
			border-bottom: 1px solid #9e9e9e;
			color: $grayLight;
			&:focus {
				color: $darkGrey;
				outline: 0;
			}
		}
	}
}


.Form__control-label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	+ .Form__control-label {
		margin-#{htmlDirection()}: 5px;
	}
	& .Form__control + div {
		display: none;
	}
}
/* :root here acting as a filter for older browsers */

:root input[type="checkbox"] {
	&.Form__control {
		opacity: 0;
		position: relative;
		display: none;
		&:checked {
			+ div {
				background-color: rgba(0, 0, 0, 0.2);
				&:before {
					@include opacity(1);
					@include scale(1);
				}
			}
		}
		&[disabled] {
			+ div {
				opacity: 0.3;
			}
		}
		+ div {
			position: relative;
			@include transition(
					background-color .25s ease
			);
			@include border-radius(3px);
			width: 14px;
			height: 14px;
			background-color: rgba(0, 0, 0, 0.2);
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 2px;
			margin-#{htmlDirection-rev()}: 3px;
			&:before {
				-webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
				-moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
				-ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
				-o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
				@include opacity(0);
				@include scale(0.5);
				color: $white;
				top: 1px;
				#{htmlDirection-rev()}: -2px;
				font-size: 9px;
			}
		}
	}
}
.Form__control-label:hover {
	input[type="checkbox"].Form__control {
		+ div {
			background-color: #a3a6ad !important;
		}
	}
	input[type="checkbox"].Form__control:checked {
		+ div {
			background-color: darken($grayLight, 10%) !important;
		}
	}
}

:root input[type="radio"] {
	&.Form__control {
		opacity: 0;
		position: relative;
		display: none;
		&:checked {
			+ div {
				border-color: rgba(0, 0, 0, 0.2);
				&:before {
					@include opacity(1);
					@include scale(1);
				}
			}
		}
		&[disabled] {
			+ div {
				opacity: 0.3;
			}
		}
		+ div {
			@include transition(
					background-color .25s ease
			);
			@include border-radius(50%);
			width: 16px;
			height: 16px;
			display: inline-block;
			border: 3px solid rgba(0, 0, 0, 0.2);
			vertical-align: middle;
			margin-bottom: 2px;
			&:before {
				-webkit-transition: opacity 0.35s ease, -webkit-transform 0.35s ease;
				-moz-transition: opacity 0.35s ease, -moz-transform 0.35s ease;
				-ms-transition: opacity 0.35s ease, -ms-transform 0.35s ease;
				-o-transition: opacity 0.35s ease, -o-transform 0.35s ease;
				@include border-radius(50%);
				content: " ";
				width: 6px;
				height: 6px;
				background-color: rgba(0, 0, 0, 0.2);
				@include opacity(0);
				@include scale(0.5);
				color: $white;
				position: absolute;
				top: 6px;
				#{htmlDirection()}: 5px;
			}
		}
	}
}
.Form__control-label:hover {
	input[type="radio"].Form__control {
		+ div {
			border-color: #a3a6ad !important;
		}
	}
	input[type="radio"].Form__control:checked {
		+ div {
			border-color: darken($grayLight, 10%) !important;
		}
	}
}







